<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title>Log In</title>
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/signin.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/scss/main.css}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
<style>
* {
    padding: 0;
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    box-sizing: border-box;
}

.login-title {
    font-family: 'Julius Sans One', sans-serif;
}
</style>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
            <div class="col-lx-12 col-lg-4 text-black mx-auto d-grid align-items-center" style="min-height: 93vh;">
				<h3 th:text="${message}" class="text-center text-danger"></h3>
				<div
					class="d-flex align-items-center p-5 m-3 border border-1 rounded rounded-4 shadow">
					<form style="width: 23rem;" th:action="@{/auth/login}" method="post">
						<h3 id="login-title" class="fw-normal mb-3 pb-3 fw-bold text-uppercase"
							style="letter-spacing: 1px;">Log in</h3>
						<div class="form-outline mb-4">
							<label class="form-label" for="01">Email/Username</label>
							<input name="username" type="text" id="01"
								class="form-control form-control-lg" />
						</div>
						<div class="form-outline mb-4">
							<label class="form-label" for="02">Password</label>
							<input name="password" type="password" id="02"
								class="form-control form-control-lg" />
						</div>
						<div class="form-outline mb-4">
							<input name="remember" type="checkbox" value="true"
								id="03" class="form-check-input" /> <label
								class="form-label" for="03">Remember me?</label>
						</div>
						<div class="pt-1 mb-4 text-center">
							<button class="btn btn-primary btn-lg btn-block text-uppercase">Login</button>
						</div>
						<p>
							<a class="link-secondary text-decoration-none" th:href="@{/account/forgot-password}">Forgot password?</a>
							<br>Don't have an account? <a th:href="@{/account/register}"
								class="link-secondary text-decoration-none">Register here</a>
						</p>
					</form>
				</div>
			</div>
            <div class="col-xl col-lg-8 bg-dark" style="min-height: 93vh;">
            </div>
            <div class="col-lg-12 bg-primary text-center fs-4" style="min-height: 7vh;">
                <a class="text-white text-decoration-none" th:href="@{/index}">Back to Home</a>
            </div>
		</div>
	</div>
</body>
</html>