<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/signin.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/scss/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <style>
        * {
            padding: 0;
            margin: 0;
            font-family: 'Albert Sans', sans-serif;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lx-12 col-lg-4 text-black mx-auto d-grid align-items-center" style="min-height: 93vh;">
            <div class="d-flex align-items-center p-5 m-3 border border-1 rounded rounded-4 shadow">
                <form th:object="${account}" style="width: 23rem;" th:action="@{/account/register}" method="post">
                    <h3 id="login-title" class="fw-normal mb-3 pb-3 fw-bold text-uppercase text-center"
                        style="letter-spacing: 1px;">Registration</h3>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="01">Username</label>
                        <input th:field="*{username}" name="username" type="text" id="01"
                               class="form-control form-control-lg" />
                        <em th:errors="*{username}" class="text-danger"></em>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="02">Password</label>
                        <input th:field="*{password}" name="password" type="password" id="02"
                               class="form-control form-control-lg" />
                        <em th:errors="*{password}" class="text-danger"></em>
                    </div>
                    <div class="form-outline mb-4">
                        <label class="form-label" for="03">Email</label>
                        <input th:field="*{email}" name="email" type="email" id="03"
                               class="form-control form-control-lg" />
                        <em th:errors="*{email}" class="text-danger"></em>
                    </div>
                    <div class="pt-1 mb-4 text-center">
                        <button class="btn btn-primary btn-lg btn-block text-uppercase">Register</button>
                    </div>
                    <p>
                        <br>Already have an account? <a th:href="@{/auth/login/form}"
                                                      class="link-secondary text-decoration-none">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>