<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/scss/main.css}">
<title>Change Password</title>
</head>
<body>
	<div class="container py-1">
		<section class="row my-3">
			<div class="col-lg-8 m-auto overflow-hidden">
				<h2 class="py-3 text-primary text-center text-uppercase fw-bold">Change
					Password</h2>
				<div class="py-5 px-5">
					<form th:action="@{/account/change-new-password}" method="post">
						<div class="mb-3 row">
							<label for="nPw" class="col-sm-4 col-form-label">New
								Password</label>
							<div class="col-sm-6">
								<input name="npw" type="password" class="form-control fw-bold"
									id="nPw">
							</div>
						</div>
						<div class="mb-3 text-center">
							<em class="text-danger fst-italic" th:text="${newp}"></em>
						</div>
						<div class="mb-3 row">
							<label for="rPw" class="col-sm-4 col-form-label">Repeat
								Password</label>
							<div class="col-sm-6">
								<input name="rpw" type="password" class="form-control fw-bold"
									id="rPw">
							</div>
						</div>
						<div class="mb-3 text-center">
							<em class="text-danger fst-italic" th:text="${pw}"></em>
						</div>
						<div class="mb-3 row text-center">
							<div class="my-2 col">
								<button class="btn btn-lg btn-success">Update Password</button>
							</div>
							<a class="text-primary text-decoration-none" th:href="@{/index}">Back to Home</a>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</body>
</html>