<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/assets/scss/main.css}">
<title>Forgot Password</title>
</head>
<body>
	<div class="container py-1">
		<section class="row my-3">
			<div class="col-lg-8 m-auto overflow-hidden">
				<h2 class="py-3 text-primary text-center text-uppercase fw-bold">Forgot
					Password</h2>
				<div class="py-5 px-5">
					<form th:action="@{/account/forgot-password}" method="post">
						<div class="mb-3 col-lg-8 m-auto">
							<label for="e" class="form-label">Your Email</label> <input
								name="email" type="email" class="form-control fw-bold" id="e">
						</div>
						<div class="mb-3 text-center">
							<em class="text-danger fst-italic" th:text="${msg}"></em>
						</div>
						<div class="mb-3 text-center">
							<div class="my-2 col">
								<button class="btn btn-lg btn-success">Send Code</button>
							</div>
							<a class="text-primary text-decoration-none" th:href="@{/index}">Back to Home</a>
						</div>
					</form>
				</div>
			</div>
		</section>
	</div>
</body>
</html>