// Import necessery libs

// Custom elements
$primary : #6610f2;
$success : #01B376;
$warning : #f2ae10;
$danger : #dc3545;
$secondary : #405DE6;
$info : #20c997;
$black : #020203;
$dark : #0c0c0c;

// Import Bootstrap
@import '../bootstrap-5.2.0/scss/bootstrap.scss';